<div class="mynavbar">
<div class="mynavbar-title">F2F Tracker</div>
<ul class="navbar-menu pull-right">
  <li>MONITOR</li>
  <li>DASHBOARD</li>
  <li>MAINTANCE</li>
  <li style="margin-top:-10px">
    <a ng-click="menuperfil=!menuperfil">
      <img src="images/user.png"/>
    </a>
    </li>
</ul>

</div>
<div class="menuperfil normal-padding" ng-class="{'menuperfil-show':menuperfil,'menuperfil-hidden':!menuperfil}">
  <ul class="estados" style="padding-left:0">
    <li>
      <a>
        &nbsp;
        <span class="glyphicon glyphicon-edit"></span>
        Edit Perfil
      </a>
    </li>
    <li>
      <a ng-click="LogOut()">
        &nbsp;
        <span class="glyphicon glyphicon-off"></span>
        Log Out
      </a>
    </li>
  </ul>
</div>
<div class="siderbar">

    <div class="siderbar-title">MONITOR</div>
    <div class="siderbar-subtitle">DATE</div>

    <div class="siderbar-item">
      <div class="col-sm-6 col-md-6 no-padding-left">
        <input data-date-format="yyyy-MM-dd" ng-model="filter.date_ini" class="form-input" type="text" name="" value="" data-max-date="{{filter.date_end}}" placeholder="From" bs-datepicker>
      </div>
      <div class="col-sm-6 col-md-6 min-padding">
        <input data-date-format="yyyy-MM-dd" ng-model="filter.date_end" class="form-input" type="text" name="" value="" data-min-date="{{filter.date_ini}}" placeholder="Until" bs-datepicker>
      </div>
    </div>
    <div class="siderbar-item">
       <div class="btn-group margin-vertical">
        <label class="btn btn-success btn-sm" ng-model="filter.check_in" btn-checkbox>CHECK-IN</label>
        <label class="btn btn-success btn-sm" ng-model="filter.check_out" btn-checkbox>CHECK-OUT</label>
      </div>
    </div>
    <div class="siderbar-item">
      <a ng-click="LoadPanelLocation()" >
        <span class="siderbar-item-text">LOCATION</span>
        <span class="siderbar-item-icon" ng-show="showpanelLocation">
          <span class="glyphicon glyphicon-chevron-right"></span>
        </span>
      </a>
    </div>
    <div class="siderbar-item">
      <a ng-click="LoadPanelReport()">
      <span class="siderbar-item-text">REPORT</span>
      <span class="siderbar-item-icon" ng-show="showpanelReport">
          <span class="glyphicon glyphicon-chevron-right"></span>
      </span>
      </a>
    </div>
    <div class="siderbar-item">
      <a ng-click="CleanSelection()">
      <span class="siderbar-item-text">CLEAN SELECTION</span>
      </a>
    </div>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    
    
    
  <div class="siderbar-subtitle">SALES PERSON</div>
    <ul class="estados" style="padding-left:0">
      <li ng-repeat="person in SalesPerson">
        <a ng-click="SelectPerson(person)">
          {{person.nombre}}
          <span class="glyphicon glyphicon-ok" ng-show="person.active"></span>
        </a>
        
      </li>
    </ul>
    
    
</div>
<div class="subpanel" ng-class="{'subpanel-show':showpanelLocation,'subpanel-hide':showpanelLocation==false}" ng-scrollbar rebuild-on="rebuild:me">
  <ul class="estados" ng-show="showpanelLocation">
    <li ng-repeat="estado in Estados">
      <a ng-click="SelectLocation(estado)">
        {{estado.nombre}}
        <span class="glyphicon glyphicon-ok" ng-show="estado.active"></span>
      </a>
      
    </li>
  </ul>
</div>
<div class="subpanel2" ng-class="{'subpanel2-show':showpanelReport,'subpanel2-hide':showpanelReport==false}" ng-scrollbar rebuild-on="rebuild:me">
  <div class="normal-padding" ng-show="showContentpanelReport">
  <button class="btn btn-info btn-xs pull-right" ng-click="ExportTable()">Export to Excel</button>
  <table id="TableReport" class="report" >
        <thead>
          <tr>
            <th>N° </th>
            <th>Client </th>
            <th>Objective </th>
            <th>Origin </th>
            <th>CheckIn Address </th>
            <th>Coords CheckIn </th>
            <th>Date CheckIn </th>
            <th>CheckOut Address </th>
            <th>Coords CheckOut </th>
            <th>Date CheckOut </th>
            <th>Currency </th>
            <th>Next Step </th>
            <th>Next Step Date </th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="result in results" ng-class="{'row1':$index%2==0,'row2':$index%2!=0}">
            <td>{{$index+1}}</td>
            <td>{{result.Cliente}}</td>
            <td>{{result.callObjective}}</td>
            <td>{{result.callOrigin}}</td>
            <td>{{result.checkInDireccion}}</td>
            <td>{{result.checkInCordenadas.latitude+' , '+result.checkInCordenadas.longitude}}</td>
            <td>{{result.fechaCheckIn.iso |date:'yyyy-MM-dd HH:mm:ss'}}</td>
            <td>{{result.checkOutDireccion}}</td>
            <td>{{result.checkOutCordenadas.latitude+' , '+result.checkOutCordenadas.longitude}}</td>
            <td>{{result.fechaCheckOut.iso |date:'yyyy-MM-dd HH:mm:ss'}}</td>
            <td>{{result.currency}}</td>
            <td>{{result.nextStep}}</td>
            <td>{{result.nextStepDate.iso |date:'yyyy-MM-dd HH:mm:ss'}}</td>
          </tr>
          
        </tbody>
      </table>
      </div>
</div>
<div class="mymap">
  <google-map 
    id="myMap"
    center="map.center" 
    refresh="true" 
    zoom="map.zoom" 
    draggable="true"
    dragging="map.dragging"
    options="map.options"
    pan="map.panControl"
    events="map.events"
    control="map.control">


     <marker ng-repeat="m in filterMarkers" coords="m" icon="m.icon">
            
        </marker>

  </google-map>
</div>